*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

img {
    user-select: none;
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}